.hover{
	-fx-cursor: hand;
}

.headLabel{
	-fx-font-size : 40px;
}

.font20{
	-fx-font-size : 20px;
}

.elemHovered{
	-fx-border-style: solid solid solid solid; 
	-fx-border-width: 1; 
	-fx-border-color: black;
}

.btnAjoutMembreHovered{
	-fx-background-color: #dddddd;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 5, 0, 0, 5 );
}