/* Setup */
*{
    margin: 0;
    padding: 0;
    font-family: Segoe UI;
    font-size: 1rem;
    overflow-x: hidden;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
    font-weight: lighter;
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #85B9DE;
}

::-webkit-scrollbar-thumb:hover {
    background: #3c6090;
}

/* Connexion */

#bodyIndex{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(240deg, rgba(18,240,218,1) 0%, rgba(156,214,255,1) 100%);
}

#bodyIndex *{
    overflow-x: visible;
}

#bodyIndex h1{
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 5vh;
}

.connexion{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
}

.connexion > div{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.connexion label{
    margin: 1vh;
}

.connexion input{
    height: 1.5rem;
    border-radius: 50px;
    padding: 0.5rem;
    border-color: black;
}

#connexion{
    margin-top: 5vh;
}

#connexion a{
    margin-left: calc(50% - 1rem);
    border-color: black;
    width: 50%;
    padding: 0.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 50px;   
}

#btn_conn{
    cursor: pointer;
}

/* Main */
header{
    display: flex;
    height: 15vh;
    max-width: 100vw;
    background-color: #85B9DE;
    padding-left: 25vw;
}

header h1, header div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25vw;
}

header h1{
    font-weight: lighter;
    width: 50vw;
}

header a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

header img{
    height: 55%;
}

#bienvenue{
    padding-left: 25vh;
    display: flex;
    align-items: center;
    justify-content: left;
    width: calc(100% - 25vh);
    height: 10vh;
}

#filter{
    padding-right: 25vh;
    display: flex;
    align-items: center;
    justify-content: right;
    width: calc(100% - 25vh);
    height: 10vh;
}

[type="checkbox"]{
    transform: scale(2);
    cursor: pointer;

}

[type="checkbox"] + label{
    margin-left: 1rem;
}

#colonnes{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#colonnes div{
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-color: #85B9DE;
    height: 50%;
    width: 80%;
}

#colonnes div p{
    width: calc(100% / 3 - 2px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#date{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#evenements{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 65vh;
    overflow-y: scroll;
}

.event{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2vh;
    width: 80%;
    height: 10vh;
    border: 3px solid black;
    cursor: pointer;
}

.event h2, .event h3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
}

.inscrit{
    border-color: green;
}

.detailEvent{
    position: absolute;
    left: 0;
    top: 25vh;
    background-color: white;
    width: 100%;
    height: 75vh;
}

.parentFerme{
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 10vh;
}

.btnFerme{
    margin-right: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.left{
    float: left;
    border-right: 2px solid black;
    width: calc(50% - 2px);
    height: calc(100% - 10vh  - 2px);
}

.left h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    font-size: 3rem;
}

.left a{
    font-size: 1.5rem;
    color: black;
}

.left p{
    margin: 1vh;
    margin-left: 5vh;
    margin-right: 5vh;
    font-size: 1.5rem;
}

textarea{
    margin: 5vh;
    padding: 1vh;
    resize: none;
    width: calc(100% - 10vh);
    height: 30%;
    overflow-x: scroll;
}

.right{
    padding-top: 5rem;
    float: right;
    border-left: 2px solid black;
    width: calc(50% - 2px);
    height: calc(100% - 10vh - 2px - 5rem);
}

.right label{
    font-size: 1.5rem;
    margin-left: 5vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.right input{
    padding: 1vh;
    margin: 5vh;
    margin-top: 1vh;
    margin-bottom: 5vh;
    width: calc(100% - 10vh);
}

.right textarea{
    margin-top: 1vh;
}

.right div{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 5vh;
    margin-right: 5vh;
}

.right button{
    font-size: 1.5rem;
    padding: 1vh;
    border-radius: 50px;
    width: 30%;
    margin-left: 2vh;
    border-color: black;
    cursor: pointer;
}

.erreurForm{
    color: red;
    margin: 5vh;
}
